<h2>Admin::Dashboard</h2>
<div id="list">
    <div class="flickr_pagination">
      <%= will_paginate @washes, :container => false %>
      <div class='page_info'>(<%= page_entries_info @washes %>)</div>
    </div>

	<table><thead><tr>
		<th><%=t('count')%></th>
		<th><%=t('name')%></th>
		<th><%=t('email')%></th>
		<th><%=t('phone')%></th>
		<th><%=t('mobile')%></th>
		<th><%=t('address2')%></th>
		<th><%=t('latest_stocked_on')%></th>
	 </tr></thead>
	<tbody>
	<% @washes.each do |wash| %>
	<tr><td><%= wash.washes_count %></td>
		<td><%= link_to wash.name, washes_path(:field => :customer_id, :q =>wash.customer_id) %></td>
		<td><%=  link_to wash.email, washes_path(:field=>:email, :q=>wash.email)  %></td>
		<td><%= wash.phone %></td>
		<td><%= wash.mobile %></td>
		<td><%= wash.address2 %></td>
		<td><%= wash.latest_stocked_on%><br/>
          <span style="font-size:small;color:#aaa"><%= distance_of_time_in_words_to_now(wash.latest_stocked_on)%> 전</span></td>
	</tr>
	<% end %>
	</tbody>
	</table>
    <div class="flickr_pagination">
      <%= will_paginate @washes, :container => false %>
      <div class='page_info'>(<%= page_entries_info @washes %>)</div>
    </div>

</div>